body{
    background-color: lightgray;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    min-width: 200px;
    inline-size: 50%;
    max-inline-size: 1000px;

    background-color: white;

}