* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
}

body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    font-family: 'Montserrat', 'Arial', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    color: white;
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
}

header {
    background-color: #2C3F51;
    text-align: center;
    padding: 2.5rem;
}

header h1 {
    margin-bottom: 1rem;
}

nav {
    background-color: #2C3F51;
    text-align: center;
    margin: 10px 0;
}

nav ul{
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 1.4rem 2rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

nav ul li:hover {
    background-color: #148572;
}

nav ul li.oznacen {
    background-color: #00BF9F;
}

main {
    min-height: calc(100vh - 229px);
}

footer {
    background-color: #2C3F51;
    text-align: center;
    height: 75px;
    padding-top: 30px;
}

.pocetna{
    margin: 2rem 0;
    text-align: center;
}

.pocetna h2 {
    padding: 10px;
}

.pocetna p {
    padding: 6px;
}

.grid {
    display: grid;
    grid-template-areas: 
    "a b c";
    margin-top: 4rem;
    justify-content: center;
    gap: 2rem;
}

.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}

.card {
    margin: 0 auto;
    background-color: white;
    width: 400px;
    height: 300px;
    border-radius: 4px;
    padding: 10px 0;
    color: black;
}

.pocetna img {
    width: 370px;
    height: 250px;
    border-radius: 4px;
}

.prica {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 2rem auto;
    width: 90%;
    text-align: center;
}

.prica h2 {
    color: #00BF9F;
    padding: 2rem;
}

.prica p {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 1.5rem;
}

.zaposlenici {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}

.zaposlenici img {
    border-radius: 50%;
    border: 5px solid #00BF9F;
    width: 150px;
    height: 150px;
    margin: 0.8rem;
}