* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
}

body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    font-family: 'Montserrat', 'Arial', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white);
  /* Workaround for Chromium's selective color inversion */
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
}

header {
    background-color: #2C3F51;
    text-align: center;
    padding: 2.5rem;
}

header h1 {
    margin-bottom: 1rem;
}

nav {
    background-color: #2C3F51;
    text-align: center;
    margin: 10px 0;
}

nav ul{
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 1.4rem 2rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

nav ul li.oznacen {
    background-color: #00BF9F;
}

main{
    margin: 2rem;
    text-align: center;
}

main h2 {
    padding: 10px;
}

main p {
    padding: 6px;
}

.grid {
    display: grid;
    grid-template-areas:
    "a b c";
}

