* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
}

body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    font-family: 'Montserrat', 'Arial', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    color: white;
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
}

header {
    background-color: #2C3F51;
    text-align: center;
    padding: 2.5rem;
}

header h1 {
    margin-bottom: 1rem;
}

nav {
    background-color: #2C3F51;
    text-align: center;
    margin: 10px 0;
}

nav ul{
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 1.4rem 2rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

nav ul li:hover {
    background-color: #148572;
}

nav ul li.oznacen {
    background-color: #00BF9F;
}

main {
    min-height: calc(100vh - 313px);
}

footer {
    background-color: #2C3F51;
    text-align: center;
    height: 75px;
    padding-top: 30px;
}



.pocetna{
    margin: 2rem 0;
    text-align: center;
}

.pocetna h2 {
    padding: 10px;
}

.pocetna p {
    padding: 6px;
}

.grid {
    display: grid;
    grid-template-areas: 
    "a b c";
    margin-top: 4rem;
    justify-content: center;
    gap: 2rem;
}

.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}

.card {
    margin: 0 auto;
    background-color: white;
    width: 400px;
    height: 300px;
    border-radius: 4px;
    padding: 10px 0;
    color: black;
}

.pocetna img {
    width: 370px;
    height: 250px;
    border-radius: 4px;
}





.prica {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 2rem auto;
    width: 90%;
    text-align: center;
}

.prica h2 {
    color: #00BF9F;
    padding: 2rem;
}

.prica p {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 1.5rem;
}

.zaposlenici {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}

.zaposlenici img {
    border-radius: 50%;
    border: 5px solid #00BF9F;
    width: 150px;
    height: 150px;
    margin: 0.8rem;
}





.usluge {
    padding: 2rem;
}

.usluge h2 {
    text-align: center;
    padding: 0.5rem;
}

.cjenik{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  background-color: #1a1e256c;
  padding: 40px 0px;
  border-radius: 10px;
}

table{
  width: 90%;
  table-layout: fixed;
  border-collapse: collapse;
}

thead tr{
  background-color: #1CBB9D;
  color: black;
  text-transform: uppercase;
}

thead tr th{
  padding: 20px;
  text-align: left;
}

th, td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

tbody tr{
  border-bottom: 1px solid rgb(71, 71, 71)
}

tbody tr td{
  padding: 20px;
}

.boja {
    color: #1CBB9D; 
    font-weight: bold;
}

tbody tr td button{
  border: none;
  color: white;
  background-color: #1CBB9D;
  padding: 7px 15px;
  border-radius: 0.2rem;
  width: 70%;
}





.projekti{
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    width: 80%;
    margin: 2rem auto;
    gap: 50px;
}

.kartice {
    position: relative;
    background-color: #1D232B;
    width: 300px;
    height: 400px;
    border: 1px solid gray;
    border-radius: 20px;
}

.status {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #00BF9F;
    border-radius: 50px;
    padding: 10px;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.kartice img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.kartice h3 {
    color: #00BF9F;
    padding: 20px;
}

.kartice p {
    padding: 0px 20px;
}

.kartice hr {
    margin: 10px 20px;
    border-color: gray;
}

.kartice span {
    font-family: monospace;
    color: #00BF9F;
}

.dno-kartice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.dno-kartice strong {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #00BF9F;
    text-decoration-thickness: 2px;
}
