body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/teretana.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8%;
}

nav {
  background-color: rgba(31, 31, 31, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

}

nav ul {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  list-style-type: none;
  align-items: center;
  padding-right: 50px;
}

nav a {
  color: white;
  text-decoration: none;
}

.logo {
  text-decoration: none;
  color: #cbff00;
  padding-left: 50px;
  font-size: 20px;
  font-weight: bold;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
}

.transformiraj h1 {
    font-size: 60px;
}

.transformiraj button {
    border: none;
    border-radius: 1rem;
    background-color: #cbff00;
    margin-top: 1rem;
    padding: 0.6rem 1.5rem;
    font-weight: bold;
}

h2 {
    margin-top: 25px;
    text-align: center;
    color: #cbff00;
}

hr {
    width: 2%;
}

.program {
    margin: 25px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}

.program div {
    background-color: #292929;
    padding: 1rem;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
}