body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/teretana.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8%;
}

nav {
  background-color: rgba(31, 31, 31, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  list-style-type: none;
  align-items: center;
  padding-right: 50px;
}

nav a {
  color: white;
  text-decoration: none;
}

.logo {
  text-decoration: none;
  color: #cbff00;
  padding-left: 50px;
  font-size: 20px;
  font-weight: bold;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
}

.transformiraj h1 {
  font-size: 60px;
}

.transformiraj button {
  border: none;
  border-radius: 1rem;
  background-color: #cbff00;
  margin-top: 1rem;
  padding: 0.6rem 1.5rem;
  font-weight: bold;
}

h2 {
  margin-top: 25px;
  text-align: center;
  color: #cbff00;
}

hr {
  width: 2%;
}

.program {
  margin: 25px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
}

.program div {
  background-color: #292929;
  padding: 1rem;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  text-align: center;
}

.paketi {
  background-color: #292929;
  padding: 2rem;
}

table {
  width: 70%;
  margin: 2rem auto;
  border-collapse: collapse;
  text-align: center;
}

caption {
  padding: 10px 0;
}

thead th {
  background-color: #cbff00;
  padding: 20px;
  color: black;
}

td {
  padding: 15px;
  background-color: #3a3a3a;
  border-bottom: 1px solid rgb(83, 83, 83);
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4rem 0;
}

.video iframe {
  width: 80%;
  height: 500px;
}

.kontakt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 2rem 0;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
}

.info {
  flex: 1;
}

form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

form label {
  font-size: 0.8rem;
  margin: 10px 0;
  color: lightgray;
}

.info h3 {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.info p {
  margin-bottom: 15px;
  color: lightgray;
  font-size: 0.9rem;
}

.info span {
  color: #cbff00;
}

form input,
form select,
form textarea {
  width: 97%;
  padding: 12px;
  background-color: #2a2a2a;
  border: 1px solid #444;
  color: white;
  border-radius: 4px;
  font-family: inherit;
}

form textarea {
  height: 120px;
}

form button {
  width: 100%;
  background-color: #cbff00;
  color: black;
  margin: 1rem 0;
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
  font-weight: 700;
  border: none;
}
