body {
  margin: 0 auto;
  padding: 0;
  width: 95%;
  background-color: #f5e4d4;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  padding-bottom: 1.5rem;
}

nav ul {
  background-color: #8B0000;
  padding: 15px;
  border-radius: 0.6rem;
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

section {
    background-color: white;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 1rem 2rem;
}

section h2 {
    padding: 8px 14px;
    border-inline-start: 6px solid #8B0000;
}

.radnja {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

.tekst {
    width: 5%;
    flex: auto;
    position: relative;
}

.video {
    text-align: center;
    flex: 2 1 auto;
}

.quote {
    position: absolute;
    bottom: 0;
    margin: 2rem 0;
    padding: 1rem;
    border-inline-start: 4px solid gray;
    font-style: italic;
    background-color: #efefef;
}

table {
  width: 100%;
  border: 1px solid lightgray;
  border-collapse: collapse;
  text-align: left;
  border-radius: 5px;
}

thead th {
  background-color: #8B0000;
  color: white;
  padding: 15px;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

td {
  padding: 15px;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

tbody tr:nth-child(even){           
    background-color: rgb(238, 238, 238);
}

form {
    display: flex;
    flex-flow: column wrap;
}

label {
    font-weight: bold;
    margin: 6px 0;
}

input, textarea {
    margin: 0.6rem 0;
    padding: 0.4rem;
}

button {
    background-color: #8B0000;
    color: white;
    width: 10%;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
}

footer {
    text-align: center;
    color: #919191;
}