body{
    background-color: #F1F2F5;
    margin: 20px;
    padding: 5px;
}

h1{
    color: darkblue;
    font-family: Arial, sans-serif;
}

#content{
    background-color: white;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    padding: 20px;
    
}

.list{
    list-style: none;
    padding-left: 0px;
}

li{
    margin-top: 15px;
}

ul li::before{
    content: "✅";
    
}

u{
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}

#content span {
    font-size: 30px;       
}

a{
    font-weight: bold;
    color: #FF6600;
    text-decoration-thickness: 2px;
}

.list mark{
    background-color: #F0F0F0;
    border-radius: 25%;
    padding: 5px;
}