/* body {
    background-color: #ededed;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    background-color: white;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    width: 20%;
    margin: 5% auto;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkgray;
} */

/* body {
    background-color: #aaaaaa;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1DBE17;
}

h2 {
    color: darkgray;
}

.card {
    position: relative;
    width: 20%;
    overflow: hidden;
    z-index: 1;
    padding: 1.6rem;
    background: white;
    border-radius: 12px;
    text-align: center;
    margin: 5% auto;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 6px;
    background:
        repeating-linear-gradient(45deg, #1DBE17 0 6px, transparent 6px 12px),
        repeating-linear-gradient(-45deg, #1DBE17 0 6px, transparent 6px 12px);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
    border-radius: 12px;
    z-index: -1;
    background-size: 30px 30px;
    animation: moveZigzag 3s linear infinite;
}

@keyframes moveZigzag {
    0% {
        background-position: 0 0, 0 0;
    }

    100% {
        background-position: 60px 60px, -60px -60px;
    }
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    background: #6B694F;
    font-family: 'Poppins', sans-serif;
}

/* Flip card styles */

.container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.card {
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition:
        transform .6s cubic-bezier(.4, 0, .2, 1);
}

.container:hover .card {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -webkit-box-reflect: below 5px linear-gradient(transparent, rgba(255, 255, 255, 0.2));
}

.card-front img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}

.card-back {
    background: #212121;
    color: #d4d3d3;
    text-align: center;
    transform: rotateY(180deg);
}

.card-back h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

p {
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 15px;
    font-weight: 300;
    padding: 0.6rem;
}