body,html {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}

section {
    display: grid;
    grid-template-areas: 
    "p1 p1 p1"
    "p2 p3 p4"
    "p5 p5 p5";
    row-gap: 1rem;
    column-gap: 1rem;

    grid-template-columns: auto 80% auto;
    grid-template-rows: auto 80% auto;

    padding: 10px;
    min-height: 100vh;
}

.p1{grid-area: p1; background-color: red;}
.p2{grid-area: p2; background-color: blue;}
.p3{
    grid-area: p3;
    background-color: white;
    display: grid;
    grid-template-areas: 
    "s1 s1"
    "s2 s3";
    row-gap: 1rem;
    column-gap: 1rem;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 25px;
}
.p4{grid-area: p4; background-color: purple;}
.p5{grid-area: p5; background-color: lightgreen;}

.s1{grid-area: s1; background-color: yellow}
.s2{grid-area: s2; background-color: orange;}
.s3{grid-area: s3; background-color: aquamarine;}

div {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    font-weight: bold;
}