* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(52, 67, 102);
    color: white;

    text-align: center;
    padding: 1.5rem;
}

header h1 {
    padding: 15px;
}

header h2 {
    padding: 25px;
}

nav a {
    text-decoration: none;
    color: darkorange;
    font-weight: bold;
    padding: 10px;
}