* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(52, 67, 102);
    color: white;

    text-align: center;
    padding: 1.5rem;
}

header h1 {
    padding: 15px;
}

header h2 {
    padding: 25px;
}

nav a {
    text-decoration: none;
    color: darkorange;
    font-weight: bold;
    padding: 10px;
}

hr {
    margin-top: 25px;
}

section {
    background-color: white;
    margin: 25px auto;
    width: 95%;
    border: 1px solid #c7c7c7;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

section h2 {
    padding: 20px 0px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #2cb7da;
    background-color: #e2e2e2;
    margin: 15px auto;
    gap: 10%;
    padding: 40px;
}

.flex div {
    background-color: #2cb7da;
    padding: 15px 10%;
    font-weight: bold;
    color: white;
}

.grid {
    display: grid;
    grid-template-areas: 
    "z z z"
    "n s s"
    "p p p";

    border: 2px solid green;
    background-color: #c7c7c7;
    grid-template-rows: auto 200px auto;
    margin: 15px auto;
    padding: 10px;
    gap: 15px;
}

.z{grid-area: z; background-color: rgb(36, 223, 129);}
.n{grid-area: n; background-color: rgb(36, 223, 36);}
.s{grid-area: s; background-color: rgb(40, 54, 119);}
.p{grid-area: p; background-color: rgb(36, 223, 129);}

.grid div {
    text-align: center;
    padding: 15px 10%;
    font-weight: bold;
    color: white;
}

span {
    font-family: 'Courier New', Courier, monospace;
}

.left{
    float: left;
    background-color: red;
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 100px;
    height: 80px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 40px;
}

.columns {
    columns: 3;
    column-gap: 2rem;
    column-rule: 1px solid #ccc;
    column-fill: balance;
    text-align: justify;
}

.info {
    margin: 0 auto;
    background-color: rgb(224, 208, 179);
    border-inline-start: 5px solid orange;
    padding: 15px 40px;
}

.info h3 {
    padding: 15px 0;
}

footer {
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
    padding: 25px;
    margin: 25px auto;
}