:root {
    --primarna-boja: #2c3e50;
    --naglasena-boja: #e67e22;
    --pozadina-svijetlo: #ecf0f1;
}

body {
    background-color: var(--pozadina-svijetlo);
    background-image: radial-gradient(circle, #bdc3c7, 1px, transparent 1px);
    background-size: 20px 20px;
    background-repeat: repeat;
    background-attachment: fixed;
}

.container {
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    inline-size: 90%;
    max-inline-size: 1000px;

    min-height: 100vh;
    min-block-size: 100vh;

    margin: 20px auto;
    background-color: white;

    box-sizing: border-box;

    outline-style: double;
    outline-width: 20px;
    outline-color: var(--naglasena-boja);
    outline-offset: 2px;
}

section{
    border: 1px solid var(--primarna-boja);
    border-radius: 1rem;
    margin: 10px;
    padding: 20px;
}