body {
    background-color: #ededed;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: white;
    margin: 0 auto;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    
}

.icon {
    font-size: 80px;
    padding: 30px;
    text-align: center;
}