body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: auto;
    max-width: 960px;
    display: grid;
    column-gap: 1rem;
    grid-template-areas: "a b c d";
}

.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}
.d {grid-area: d;}

.panel {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid gainsboro;
    text-align: center;
    background-color: white;
}

img {
    border-radius: 10px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

.cijena {
    color: green;
    font-size: 1.5rem;
    font-weight: 800;
}

button {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 7px;
    border: 0px;
    border-radius: 10px;
}