body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
}

.container {
    max-width: 960px;
    margin: auto;
}

.forma {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
}

.unos {
    display: flex;
    flex-direction: column;
}

select {
    width: 200px;
    margin: 1rem 0;
    padding: 10px 15px;
    border-radius: 7px;
}

h2 {
    background-image: url(img/slika.jpg);
    background-clip: text;
    color: transparent;
    animation: animate 8s ease infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

.input-box .input {
    font-size: 16px;
    outline: none;
    margin: 1rem 0;
    padding: 10px 15px;
    display: block;
    width: 200px;
    border: none;
    border-radius: 7px;
    border: 2px solid #999;
    background: transparent;
}

.input-box .input:focus,
.input-box .input:valid {
    border-color: #3679ff;
}

.input-box {
    position: relative;
}

.input-box .label {
    color: #999;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 12px;
    display: flex;
}

.input-box .char {
    transition: .2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.input-box .input:focus~label .char,
.input-box .input:valid~label .char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #3679ff;
    background: white;
}

button {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.7em 2em;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 2px;
    border: 3px solid #00a8ff;
    color: #00a8ff;
    cursor: pointer;
    transition: 0.3s ease all;
    z-index: 1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.1);
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    opacity: 0;
    z-index: -1;
    background: #00a8ff;
    transition: .5s all ease;
}

button:hover,
button:focus {
    color: #fff;
}

button:hover:before,
button:focus::before {
    left: 0;
    right: 0;
    opacity: 1;
}

button:active {
    transform: scale(0.9);
}