* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: url(img/pozadina.jpg);
  background-size: cover;
  background-repeat: repeat;
  animation: movingBackground 30s linear infinite;
}

.container {
  width: 800px;
  height: 300px;
  padding: 2rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  margin: 10% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

.container:hover {
  animation: enlargeContainer 1s ease-in-out forwards;
}

.card {
  width: 300px;
  height: 200px;
}

.card:hover {
  cursor: pointer;
  animation: hoverCard 1s ease-in-out;
}

@keyframes movingBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -1000px;
  }
}

@keyframes enlargeContainer {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.5;
  }
}

@keyframes hoverCard {
  0% {

  }
  50% {
    scale: 1.5;
  }
  100% {
    transform: rotate(360deg);
  }
}
